/* Tags */
body {
  font-family: 'Arial';
  background-color: #d3c7b6;
}
a {
  color: #564936;
  text-decoration: underline;
}
header {
  top: 0px;
  left: 0px;
}
footer {
  bottom: 0px;
  left: 0px;
  margin-top: 10vh;
}
header, footer {
  padding: .25%;
  color: #d3c7b6;
  font-size: 2.5vh;
  text-align: center;
  background-color: #564936;
  z-index: 3;
  width: 100vw;
  display: block;
  position: fixed;
}
header h1 {
  font-size: 3vh;
  font-weight: lighter;
}
img {
  max-height: 20em;
  max-width: 20em;
}
/* Classes */
.arrow-box {
  font-size: 6em;
}

.double-logo-box {
  margin-top: 15vh;
  text-align: center;
}

.arrow-box, .logo-box {
  display: inline-block;
}

.info-box {
  padding-bottom: 50px;
}

.info-box p {
  font-size: 1.6em;
  text-align: center;
}

@media(max-width: 800px){

}
